<section id="contact-us">
    <div class="contact-us">

        <div class="upper">
            <div class="contact-upperleft">
                <p class="upperleft-text">
                    Get the lastest <br> updates
                </p>
                <p class="upperleft-text2">
                    Sign up for our weekly newsletter
                </p>
            </div>
            <div class="contact-upperright">
                <input type="text" placeholder="Email" class="email-inputbox">
                <button class="blue-button">SIGN UP</button>
            </div>
        </div>

        <div class="middle">
            <div class="header-logo">
                IMG
            </div>
            <div class="middleright">
                <div class="middleright-top-responsive">
                    <div class="middleright-links">
                        <p class="middleright-links-title">About Us</p>
                        <nav>
                            <ul>
                                <li><a href="">Link</a></li>
                                <li><a href="">Link</a></li>
                                <li><a href="">Link</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="middleright-links">
                        <p class="middleright-links-title">Community</p>
                        <nav>
                            <ul>
                                <li><a href="">Link</a></li>
                                <li><a href="">Link</a></li>
                                <li><a href="">Link</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="middleright-top-responsive">
                    <div class="middleright-links">
                        <p class="middleright-links-title">Work</p>
                        <nav>
                            <ul>
                                <li><a href="">Link</a></li>
                                <li><a href="">Link</a></li>
                                <li><a href="">Link</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="middleright-links">
                        <p class="middleright-links-title">Contact Us</p>
                        <nav>
                            <ul>
                                <li><a href="">Link</a></li>
                                <li><a href="">Link</a></li>
                                <li><a href="">Link</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="bottom">
            <div class="bottomright">
                <p class="bottomright-text">
                    Passionately made by <span class="footer-link"><a href="">User Experience Society</a></span>
                </p>
            </div>
            <div class="bottomleft">
                <a href=""><img src="" alt=""></a>
                <a href=""><img src="" alt=""></a>
            </div>
        </div>

    </div>
</section>