<section id="site-explorer">
    <div class="community-work">
        <div class="cw-card community">
            <div class="cw-card-content">
                <h3 class="section-title">Community</h3>
                <button class="blue-button">LEARN MORE</button>
            </div>
        </div>
        <div class="cw-card work">
            <div class="cw-card-content">
                <h3 class="section-title">Work</h3>
                <button class="blue-button">LEARN MORE</button>
            </div>
        </div>
    </div>
</section>