.proximareg {
  font-family: 'Proxima Nova', Georgia, sans-serif;
  font-size: 16px;
}

.navbar-positioning {
  margin-top: 3.39rem;
  margin-left: 6.37rem;
  margin-right: 6.37rem;
}

.navbar-light .navbar-nav .nav-link {
  color: #3B3E42;
  font-size: 23.54px;
}

@media (min-width: 992px) {
  .navbar-nav > li {
    padding: .5rem 2.6rem;
  }
  .navbar-positioning {
    margin-top: 3.39rem;
    margin-left: 6.37rem;
    margin-right: 6.37rem;
  }
}

.hero-text {
  &.-home {
    margin-left: 150px;
    margin-top: 160px;
    > .subtitle {
      margin-bottom: 25px;
    }
    > .title {
      margin-bottom: 84px;
    }
  }
}

#hero-section {
  width: 100%;
  height: 100vh;
}

#mission-section {
  width: 100%;
  background-color: $uxsoc-blue;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;

  .text {
    @include proximanova;
    padding: 15px;
    margin: auto;
    color: $white;
    max-width: 45%;
    text-align: center;
    line-height: 61px;
    font-size: 34.639px;
  }
}