.proximareg {
  font-family: 'Proxima Nova', Georgia, sans-serif;
  font-size: 16px;
}

.navbar-positioning {
  margin-top: 3.39rem;
  margin-left: 6.37rem;
  margin-right: 6.37rem;
}

.navbar-light .navbar-nav .nav-link {
  color: #3B3E42;
  font-size: 23.54px;
}

@media (min-width: 992px) {
  .navbar-nav > li {
    padding: .5rem 2.6rem;
  }
  .navbar-positioning {
    margin-top: 3.39rem;
    margin-left: 6.37rem;
    margin-right: 6.37rem;
  }
}

.hero-text {
  &.-home {
    margin-left: 150px;
    margin-top: 160px;
    > .subtitle {
      margin-bottom: 25px;
    }
    > .title {
      margin-bottom: 84px;
    }
  }
}

#hero-section {
  width: 100%;
  height: 100vh;
}

#mission-section {
  width: 100%;
  background-color: $uxsoc-blue;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;

  .text {
    @include proximanova;
    padding: 15px;
    margin: auto;
    color: $white;
    max-width: 45%;
    text-align: center;
    line-height: 61px;
    font-size: 34.639px;
  }
}

#site-explorer {
  display: flex;
  width: 100%;
  margin: 0;
  background-color: #EEF1F6;
  height: 700px;
}

.community-work {
  display: flex;
  width: 1300px;
  margin: auto;
  justify-content: center;
}
.cw-card {
  min-width: 300px;
  height: 500px;
  background-color: white;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  padding-bottom: 50px;

  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}
.community {
  flex: 1;
}
.work {
  flex: 1;
}
.section-title {
  margin-bottom: 50px;
}
@media all and (max-width: 1100px){
  .community-work {
    flex-direction: column;
    align-items: center;
  }
  .cw-card {
    margin: 20px 0;
  }
}

.blue-button{
  padding: 15px 35px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #0063cc;
  cursor: pointer;
}

/* Contact Us */
#contact-us{
  max-width: 100%;
  height: auto;
  padding: 25px 0;
}
.contact-us{
  max-width: 1300px;
  margin: auto;
  /*border: 1px solid red;*/
}
.upper, .middle, .middleright, .bottom, .middleright-top-responsive{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media all and (max-width: 975px){
  .upper, .middle,  .bottom{
    flex-direction: column;
    justify-content: center;
  }
  .header-logo{
    margin-bottom: 16px;
  }
  @media all and (max-width: 650px){
    .middleright-top-responsive{
      flex-direction: column;
      justify-content: center;
    }
    .contact-upperright{
      flex-direction: column;
    }
    input{
      margin-bottom: 16px;
    }
    .main-navigation{
      display: none;
    }

  }
}
.upper{
  padding: 20px;
  margin-bottom: 10px
}
.middle{
  padding: 20px;
  margin-bottom: 10px;
}
.bottom{
  text-align: center;
}
.upperleft-text{
  font-size: 25px;
  font-weight: bold;
}

.upperleft-text2{
  font-size: 14px;
  opacity: 0.5;
  margin-top: -10px;
}
.contact-upperright{
  display: flex;
  align-items: center;
}
.email-inputbox{
  min-width: 200px;
  padding: 15px 30px;
  border-radius: 5px;
  border: none;
  border: 1px solid gray;
  margin-right: 10px;
}
.footer-link a{
  text-decoration: none;
  color: black;
}
.footer-link a:hover{
  text-decoration: underline;
}
.middleright-links-title{
  font-weight: 700;
  margin: 0;
  min-width: 103px;
}
.middleright-links{
  margin-left: 50px;
  line-height: 1.5em;
}
.middleright-links nav ul, .middleright-links nav ul li{
  margin: 0;
  padding-left: 0;
}
.middleright-links nav ul{
  list-style: none;
}