@font-face {
    font-family: 'ProximaNovaReg';
    src: url('fonts/ProximaNovaReg.otf') format('otf');
}

@font-face {
    font-family: 'ProximaNovaSBold';
    src: url('fonts/ProximaNovaSbold.otf') format('otf');
}

.navbar-positioning {
    margin-top: 3.39rem;
    margin-left: 6.37rem;
    margin-right: 6.37rem;
}

.proximareg {
    font-family: 'ProximaNovaReg', sans-serif;
    font-size: 16px;
}

@media (min-width: 992px) {
    .navbar-nav > li {
        padding: .5rem 2.6rem;
        color: #3B3E42;
    }
    .navbar-positioning {
        margin-top: 3.39rem;
        margin-left: 6.37rem;
        margin-right: 6.37rem;
    }
}