<section id="home-cards">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 hero-text text-center">
                <h2 class="subtitle">{{ .Site.Params.Community.Events.Subtitle }}</h2>
                <h1 class="title">{{ .Site.Params.Community.Events.Title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card -event">
                    <div class="card-body">
                        <div class="row event-card">
                            <div class="col-sm-7 description">
                                <h1 class="title">UX and Chill</h1>
                                <p class="blurb">The quick brown fox jumped over the lazy dog The quick brown fox jumped over the lazy dog.</p>
                            </div>
                            <div class="col-sm-5 text-center date">
                                <p class="text">
                                    October<br/>
                                    <span class="bold">17<br/></span>
                                    5:00 - 6:30 PM
                                </p>
                            </div>
                        </div>
                    </div>
                    <a class="card-footer text-center" href="#">
                        LEARN MORE
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>