<section id="members">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 hero-text text-center">
                <h1 class="title">{{ .Site.Params.Community.Members.Title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="ccard -member">
                    <div class="ccard-body">
                        <div class="row member-card">
                            <div class="prof-cont">
                                <img class="profile" src="/img/prof.png">
                            </div>
                            <div class="prof-box">
                                <div class="name">
                                    <h1>{{ .Site.Params.community.exmem.name }}</h1>
                                    <h2>{{ .Site.Params.community.exmem.grade }}</h2><br>

                                    <h2>{{ .Site.Params.community.exmem.description }}</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>