<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        {{ partial "community/head.html" . }}
    </head>
    <body>
        <div>
            {{ if .Site.Params.community.nav.enable }}
            {{ partial "nav.html" . }}
            {{ end }}

            {{ if .Site.Params.community.hero.enable }}
            {{ partial "community/hero.html" . }}
            {{ end }}

            {{ if .Site.Params.community.events.enable }}
            {{ partial "community/events.html" . }}
            {{ end }}

            {{ if .Site.Params.community.members.enable }}
            {{ partial "community/member.html" . }}
            {{ end }}

            {{ if .Site.Params.community.stories.enable }}
            {{ partial "community/stories.html" . }}
            {{ end }}

            {{ if .Site.Params.community.job_board.enable }}
            {{ partial "community/job_board.html" . }}
            {{ end }}

            {{ if .Site.Params.community.resources.enable }}
            {{ partial "community/resources.html" . }}
            {{ end }}

            {{ if .Site.Params.community.chapters.enable }}
            {{ partial "community/chapters.html" . }}
            {{ end }}

            {{ if .Site.Params.community.footer.enable }}
            {{ partial "footer.html" . }}
            {{ end }}
        </div>

        {{ partial "scripts.html" . }}

    </body>
</html>